{%extends "index.html"%}
{%block content%}
	<section class="section-dark" style="text-align: center;">
		<br><br>
        <h1>User Information</h1>
		<table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>user.id</td>
                    <td>user.username</td>
                </tr>
            </tbody>
        </table>	
		<!-- <figure><img src="/static/images/{{filename}}" style="width: 360px; height: 360px"></figure><bsr> -->
	</section>
{%endblock%}